<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-links">
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>
        <a href="/feed.xml">RSS</a>
      </div>
      <div class="footer-social">
        <a href="https://github.com/katdl" target="_blank" rel="noopener">GitHub</a>
        <a href="https://twitter.com/kat_data_labs" target="_blank" rel="noopener">Twitter</a>
      </div>
    </div>
    <p class="copyright">&copy; {{ now.Year }} {{ .Site.Title }}. All rights reserved.</p>
  </div>
</footer>
